
.title{
    font-size: 50px;
    font-style: italic;
    font-weight: 1000;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.title .author{
    font-size: 10px;
    font-weight: 100;
    font-style: normal;
    text-align: right;
}

.main{
    font-size: 20px;
    font-weight: 1000;
    position: absolute;
    left:50%;
    top: 30%;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
    margin-top: 250px;
}

.main .mainTitle{
    margin-bottom: 20px;
}

.main .paragraph{
    text-align: left;
    margin-top:50px;
    width:700px;
    height: 500px;
    border-radius: 2%;
}

.main .mainSubmitButton{
    width: 100px;
    height: 30px;
    border:none;
    border-radius: 20%;
    background-color: bisque;
}

.main .checkBox{
    text-align: right;
    font-weight: 100;
    font-size: 10px;
}